/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #222;
	background-color: #ABC4E4;
	text-align: center;
	line-height: 1.4em;
  width: 600px;
  margin: auto;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  margin: 24px 0;
  padding: 12px;
  color: white;
  background-color: #424242;
  font-size: 16px;
}
ul {
  width: auto;
  text-align: left;
}
span {
  font-weight: bold;
}
li {
  width: 100%;
  text-align: left;
  margin-left: 20px;
}

a {
	color: #2574A9;
}
p {
  
  margin: auto;
}